<!-- Test-->
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<style>
  .animate{
    transition: all 0.2s !important;
  }
  .highlight1 {
               font-family: 'Nunito',sans-serif;
               font-weight: bold;
               font-size: 11px;
               color: #db7744;
               margin-bottom: 10px;
               padding-top: 10px;
              }
  .rightpadding {
                 padding-right: 0px;
                }
  .leftpadding {
                 padding-left: 0px;
               }
   .col-sm-2,.col-sm-4,.col-sm-6,.col-sm-8,.col-sm-10,.col-sm-12,
   .col-xs-6,.col-xs-12,.col-md-2, .col-xs-5,.col-md-10,.col-xs-7
                        {
                          padding-left: 0px;
                          padding-right: 0px;
                          font-size: 11px !important;
;
                        }
    .row {
           padding-left: 5px;
           padding-right:10px;
           padding-top: 2px;
           padding-bottom: 2px;
         }
     *{
       font-family: 'Nunito', sans-serif;
      }

      .highlight2{

        padding:8px 5px;
        background-color: #efefef;
        margin: 1px;
        font-weight: bold;
        box-shadow: 0px 1px 3px #00000020;
        margin-bottom: 4px;
        color:#db7744 !important;
        cursor: pointer;
      }
      .btn{
        border-radius: 0px;
        box-shadow: 0px 1px 2px #00000022;
        margin: 2px;
      }
      .bottomBar{

        position: fixed;
        bottom: 0px;
        min-height: 35px;
        z-index: 10;
        background-color: #efefef;

        width: 100%;
        text-align: center;
        box-shadow: 1px 0px 2px #00000022;
        border-top: 1px solid #dfdfdf;

      }
      .authorizationButton{

        background-color: #757dd3;
        border: none;
        outline: none;
        margin-left: 20px;
        margin-top: 3px;

      }
      .modals{

        position: fixed;
        width: 100%;
        z-index: 200;
        background: rgba(0,0,0,0.3);
        min-height: 100vh;
        top: 0px;
        padding-top: 20%;
      }
      .inputArea{

        width: 300px;
        margin: 0 auto;
        min-height: 200px;
        padding: 10px;
        background-color: #fff;
      }
      .collapse{
        max-height: 0px;
        overflow: hidden;
      }

      .expand{
        max-height: 400px;
        overflow: hidden;
        overflow-y: auto;
        overflow-x: hidden
      }
      .hover{
        cursor: pointer;
      }
 </style>

 <!--<div class="container-fluid" style="Font-size:12px;">
     <div class="row" style="padding-left:5px; padding-top:20px;">
       Next Approver:
         <Select>
           <option  *ngFor="let combo of AuthorizationDetail.Table1" value={{combo.Data}}>{{combo.Data}}</option>
         </Select>
     </div>`
 </div>-->
 <div class="container-fluid" style="Font-size:12px;padding: 0px;overflow: hidden;padding-bottom: 20px;" *ngIf="AuthorizationDetail.Table">

    <div style="min-height: 40px;width: 100%;position: fixed;background-color: #757dd3;padding: 10px 10px;color: #fff;font-size: 15px !important;z-index: 1;">

        SC Authorization
        <div class="pull-right hover" [routerLink]="[ '/Menu' ]" style="font-size: 12px;font-weight: bold">Home</div>
        <div class="pull-right hover" [routerLink]="[ '/SCSOAuthorizationMain' ]" style="font-size: 12px;font-weight: bold;margin-right: 10px;">Open</div>
        <div class="pull-right hover" (click)="LogOutDialog()" style="font-size: 12px;font-weight: bold;margin-right: 10px;">Logout</div>

    </div>
     <div class="row rightpadding"  style="padding:40px 15px !important">
       <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 rightpadding">

         <div class="container-fluid">
           <div class="row rightpadding">

             <div class= "col-md-3 col-sm-6 col-xs-12 rightpadding">
                 <div class="container-fluid">
                    <div class = "row rightpadding">
                      <div class= "col-sm-12 col-xs-12 rightpadding">
                         <div class="highlight1"> Company </div>
                      </div>
                    </div>
                    <div class = "row rightpadding">
                      <div class= "col-sm-6 col-xs-6 rightpadding">
                        <b>Company Name</b>
                      </div>
                      <div class = "col-sm-6 col-xs-6 rightpadding">
                         :{{AuthorizationDetail.Table[0].CompanyName}}
                      </div>
                    </div>

                    <div class = "row rightpadding">
                      <div class= "col-sm-6 col-xs-6 rightpadding">
                        <b>SC Order No</b>
                      </div>
                      <div class = "col-sm-6 col-xs-6 rightpadding">
                         :{{AuthorizationDetail.Table[0].DocumentNoYearly}} [ {{AuthorizationDetail.Table[0].AmendmentNo}}]({{AuthorizationDetail.Table[0].DocumentDate}})
                      </div>
                    </div>
                    <div class="row rightpadding">
                       <div class="col-sm-6 col-xs-6 rightpadding">
                         <b>Division</b>
                       </div>
                      <div class="col-sm-6 col-xs-6 rightpadding">
                        : {{AuthorizationDetail.Table[0].DivisionName}}
                      </div>
                    </div>
                    <div class="row rightpadding">
                      <div class="col-sm-6 col-xs-6 rightpadding">
                         <b>Status</b>
                      </div>
                      <div class="col-sm-6 col-xs-6 rightpadding">
                       : {{AuthorizationDetail.Table[0].Status}}
                      </div>
                    </div>
                    <div class="row rightpadding">
                       <div class="col-sm-6 col-xs-6 rightpadding">
                          <b>SC Type</b>
                       </div>
                       <div class="col-sm-6 col-xs-6 rightpadding">
                        : {{AuthorizationDetail.Table[0]["SC Type"]}}
                       </div>
                     </div>
                     <div class="row rightpadding">
                         <div class="col-sm-6 col-xs-6 rightpadding">
                            <b>Source Document</b>
                         </div>
                         <div class="col-sm-6 col-xs-6 rightpadding">
                          : {{AuthorizationDetail.Table[0]["Source Document"]}}
                         </div>
                     </div>
                     <div class="row rightpadding">
                         <div class="col-sm-6 col-xs-6 rightpadding">
                            <b>SC Nature</b>
                         </div>
                         <div class="col-sm-6 col-xs-6 rightpadding">
                          : {{AuthorizationDetail.Table[0]["SC Nature"]}}
                         </div>
                     </div>
                     <div class="row rightpadding">
                         <div class="col-sm-6 col-xs-6 rightpadding">
                            <b>Validity Date</b>
                         </div>
                         <div class="col-sm-6 col-xs-6 rightpadding">
                          : {{AuthorizationDetail.Table[0]["ValidityDate"]}}
                         </div>
                       </div>
                 </div>
             </div>

             <div class= "col-md-3 col-sm-6 col-xs-12 rightpadding">
                 <div class="container-fluid">
                    <div class = "row rightpadding">
                      <div class= "col-sm-12 col-xs-12 rightpadding">
                         <div class="highlight1"> Vendor </div>
                      </div>
                    </div>
                    <div class = "row rightpadding">
                      <div class = "col-sm-6 col-xs-6 rightpadding">
                        <b>Vendor Name</b>
                      </div>
                      <div class= "col-sm-6 col-xs-6 rightpadding">
                      : {{AuthorizationDetail.Table[0].VendorName}}
                      </div>
                    </div>
                    <div class="row rightpadding">
                        <div class="col-sm-6 col-xs-6 rightpadding">
                          <b>Vendor Location</b>
                          </div>
                      <div class="col-sm-6 col-xs-6 rightpadding">
                       : {{AuthorizationDetail.Table[0].FullAddress}}
                      </div>
                    </div>
                    <div class="row rightpadding">
                        <div class="col-sm-6 col-xs-6 rightpadding">
                            <b>GSTIN No</b>
                          </div>
                      <div class="col-sm-6 col-x-6 rightpadding">
                       : {{AuthorizationDetail.Table[0].GSTINNo}}
                      </div>
                    </div>
                    <div class="row rightpadding">
                        <div class="col-sm-6 col-xs-6 rightpadding">
                            <b>Contact Person</b>
                          </div>
                      <div class="col-sm-6 col-xs-6 rightpadding">
                       : {{AuthorizationDetail.Table[0].ContactPersonName}}
                      </div>
                    </div>

                 </div>
             </div>

             <div class= " col-md-3 col-sm-6 col-xs-12 rightpadding">
                 <div class="container-fluid">
                    <div class = "row rightpadding">
                      <div class= "col-sm-12 col-xs-12 rightpadding">
                         <div class="highlight1"> Consignee </div>
                      </div>
                    </div>
                    <div class = "row rightpadding">
                      <div class= "col-sm-12 col-xs-12 rightpadding">
                        <b>{{AuthorizationDetail.Table[0].Consignee}}</b>
                      </div>
                    </div>
                    <div class="row rightpadding">
                      <div class="col-sm-12 col-xs-12 rightpadding">
                         {{AuthorizationDetail.Table[0].ConsigneeAddress}}
                      </div>
                    </div>
                 </div>
             </div>

             <div class= "col-md-3 col-sm-6 col-xs-12 rightpadding">
                 <div class="container-fluid">
                    <div class = "row rightpadding">
                      <div class= "col-sm-12 col-xs-12 rightpadding">
                         <div class="highlight1"> Shipment </div>
                      </div>
                    </div>
                    <div class = "row rightpadding">
                      <div class= "col-sm-6 col-xs-6 rightpadding">
                        <b>From Location</b>
                      </div>
                      <div class="col-sm-6 col-xs-6 rightpadding">
                        : {{AuthorizationDetail.Table[0].FromLocation}}
                      </div>
                    </div>
                    <div class="row rightpadding">
                      <div class="col-sm-6 col-xs-6 rightpadding">
                         <b>To Location</b>
                      </div>
                      <div class="col-sm-6 col-xs-6 rightpadding">
                       : {{AuthorizationDetail.Table[0].ToLocation}}
                      </div>
                    </div>
                    <div class="row rightpadding">
                       <div class="col-sm-6 col-xs-6 rightpadding">
                          <b>Freight Rate Type</b>
                       </div>
                       <div class="col-sm-6 col-xs-6 rightpadding">
                        : {{AuthorizationDetail.Table[0]["Freight Rate Type"]}}
                       </div>
                     </div>
                     <div class="row rightpadding">
                         <div class="col-sm-6 col-xs-6 rightpadding">
                            <b>Freight Type</b>
                         </div>
                         <div class="col-sm-6 col-xs-6 rightpadding">
                          : {{AuthorizationDetail.Table[0]["Freight Type"]}}
                         </div>
                      </div>
                      <div class="row rightpadding">
                       <div class="col-sm-6 col-xs-6 rightpadding">
                          <b>Payment Mode</b>
                       </div>
                       <div class="col-sm-6 col-xs-6 rightpadding">
                        : {{AuthorizationDetail.Table[0]["Payment Mode"]}}
                       </div>
                      </div>
                     <div class="row rightpadding">
                       <div class="col-sm-6 col-xs-6 rightpadding">
                          <b>Freight Amount</b>
                       </div>
                       <div class="col-sm-6 col-xs-6 rightpadding">
                        : {{AuthorizationDetail.Table[0]["FreightAmount"] | number : '1.2-2'}}
                       </div>
                     </div>
                     <div class="row rightpadding">
                      <div class="col-sm-6 col-xs-6 rightpadding">
                         <b>Total Amount</b>
                 </div>
                      <div class="col-sm-6 col-xs-6 rightpadding">
                       : {{AuthorizationDetail.Table[0]["NetAmount"] | number :'1.2-2'}}
             </div>
                    </div>
                 </div>
             </div>


           </div>
           <div class="row">
              <div class= "col-sm-6 col-xs-12 rightpadding">
                <div class="container-fluid">
                  <div *ngIf='AuthorizationDetail.Table[0]["AmendmentReason"]' class = "row ">
                    <div class= "col-sm-3 col-xs-12 ">
                         <b>Amendment Reason</b>
                    </div>
                    <div class= "col-sm-9 col-xs-12 rightpadding" style="margin-left: -5px">
                         <span class="hidden-xs">:</span>   {{AuthorizationDetail.Table[0]["AmendmentReason"]}}
                    </div>
                  </div>
                  <div class = "row ">
                    <div class= "col-sm-3 col-xs-12 ">
                         <b>Remarks</b>
                    </div>
                    <div class= "col-sm-9 col-xs-12 rightpadding" style="margin-left: -5px">
                         <span class="hidden-xs">:</span>   {{AuthorizationDetail.Table[0]["Remarks"]}}
                    </div>
                  </div>
                </div>
              </div>
           </div>
         </div>

         <div class="container-fluid">
            <div class="row">
              <div class="col-sm-12 col-xs-12">
                 <div class="highlight2" (click)="OpenID = (OpenID)?false:true;" style="margin-top:5px;" *ngIf="AuthorizationDetail.Table2.length !==0">Item Detail
                  <span class="pull-right material-icons" *ngIf="OpenID"> expand_less </span>
                  <span class="pull-right material-icons" *ngIf="!OpenID"> expand_more </span>


                </div>

              </div>
            </div>
            <div class="row"  [ngClass]="{'expand':OpenID,'collapse':!OpenID }"  *ngFor = "let AuthDetail of AuthorizationDetail.Table2"
            style="padding:8px;border-bottom:1px solid #efefef;margin-bottom:5px;">
               <div class="col-sm-12 col-xs-12">
                 <div class="container-fluid">
                   <div class="row" >
                     <div class = "col-sm-4 col-xs-6">
                       <div class = "container-fluid">
                         <div class="row">
                           <div class="col-sm-12 col-xs-12">
                             <div style="color:#28429a;"> <b>{{AuthDetail["Item Description"]}}( {{AuthDetail["Item Code"]}})</b></div>
                           </div>
                         </div>
                         <div class="row">
                            <div class="col-sm-12 col-xs-12">
                              <b>Item Flow</b> : {{AuthDetail["Item Flow"]}}
                            </div>
                         </div>
                        </div>
                     </div>
                     <div class="col-sm-8 col-xs-6">
                       <div class="container-fluid">
                          <div class="row leftpadding rightpadding">
                            <div class="col-sm-4 col-xs-12 leftpadding rightpadding">
                               <b>Make</b> : {{AuthDetail.Make}}
                            </div>
                            <div class="col-sm-2 col-xs-12 leftpadding rightpadding">
                              <b>Tech. Grade</b> : {{AuthDetail["Tech. Grade"]}}
                            </div>
                            <div class="col-sm-2 col-xs-12 leftpadding rightpadding">
                              <b>Unit</b> : {{AuthDetail.Unit}}
                            </div>
                            <div class="col-sm-2 col-xs-12 leftpadding rightpadding">
                             <b>Quantity</b> : {{AuthDetail.Quantity | number :'1.3-3'}}
                           </div>
                           <div class="col-sm-2 col-xs-12 leftpadding rightpadding">
                             <b>Rate</b> : {{AuthDetail.Rate | number :'1.2-2'}}
                           </div>
 <!--                           <div class="col-sm-2 col-xs-12">
                              <div class="container-fluid">
                                <div class="row leftpadding rightpadding">
                                  <div class="col-sm-12 col-xs-12 leftpadding rightpadding">
                                    <b>IGST</b> : {{AuthDetail.IGST}} %
                                  </div>
                                </div>
                                <div class="row leftpadding rightpadding">
                                  <div class="col-sm-12 col-xs-12 leftpadding rightpadding">
                                    {{AuthDetail.IGSTValue}}
                                  </div>
                                </div>
                              </div>
                            </div>

                            <div class="col-sm-2 col-xs-12">
                               <div class="container-fluid">
                                 <div class="row leftpadding rightpadding">
                                   <div class="col-sm-12 col-xs-12 leftpadding rightpadding">
                                     <b>CGST</b> : {{AuthDetail.CGST}} %
                                   </div>
                                 </div>
                                 <div class="row leftpadding rightpadding">
                                   <div class="col-sm-12 col-xs-12 leftpadding rightpadding">
                                     {{AuthDetail.CGSTValue}}
                                   </div>
                                 </div>
                               </div>
                             </div>

                             <div class="col-sm-2 col-xs-12">
                                 <div class="container-fluid">
                                   <div class="row leftpadding rightpadding">
                                     <div class="col-sm-12 col-xs-12 leftpadding rightpadding">
                                       <b>SGST</b> : {{AuthDetail.SGST}} %
                                     </div>
                                   </div>
                                   <div class="row leftpadding rightpadding">
                                     <div class="col-sm-12 col-xs-12 leftpadding rightpadding">
                                       {{AuthDetail.SGSTValue}}
                                     </div>
                                   </div>
                                 </div>
                             </div>             -->

                          </div>
                       </div>

                     </div>

                   </div>


                 </div>
               </div>
 <!--              <div class="col-sm-2 col-xs-12">
                 <b>Net Amt</b> :  {{AuthDetail.NetAmt}}
               </div>
 -->

             </div>

             <div class="row">
                 <div class="col-sm-12 col-xs-12">
                    <div class="highlight2" (click)="OpenSD = (OpenSD)?false:true;" style="margin-top:5px;">Service Detail
                      <span class="pull-right material-icons" *ngIf="OpenSD"> expand_less </span>
                      <span class="pull-right material-icons" *ngIf="!OpenSD"> expand_more </span>
                      <span class="pull-right" style="color:#5f5f5f;background-color: white;margin-right: 20px; padding: 0px 5px;"><strong>Total Amount</strong> : {{AuthorizationDetail.Table[0]["ServiceTotalBasic"] |number :'1.2-2'}}</span>
                    </div>
                 </div>
             </div>

              <div class="row "  [ngClass]="{'expand':OpenSD,'collapse':!OpenSD }" *ngFor = "let AuthDetail of AuthorizationDetail.Table1" style="padding:8px;border-bottom:1px solid #efefef;margin-bottom:5px;">
                  <div class="col-sm-10 col-xs-12">
                    <div class="container-fluid">
                      <div class="row" >
                        <div class = "col-sm-4 col-xs-6">
                          <div class = "container-fluid">
                            <div class="row">
                              <div class="col-sm-10 col-xs-12">
                                <b>{{AuthDetail["Description"]}}( {{AuthDetail["Code"]}} )</b>
                              </div>
                              <div class="col-sm-2 col-xs-12">
                                <b>Unit</b> : {{AuthDetail["Unit"]}}
                              </div>
                            </div>
                            <div class="row">
                               <div class="col-sm-12 col-xs-12">
                                 <b>HSN & SAC Code</b> : {{AuthDetail["HSN & SAC Code"]}}
                               </div>
                            </div>
                            <div class="row">
                               <div class="col-sm-12 col-xs-12">
                                 <b>Short Text</b> : {{AuthDetail["ShortText"]}}
                               </div>
                            </div>
                           </div>
                        </div>
                        <div class="col-sm-8 col-xs-6">
                          <div class="container-fluid">
                             <div class="row leftpadding rightpadding">
                                <div class="col-sm-6 col-xs-12">
                                   <div class="container-fluid">
                                     <div class="col-sm-4 col-xs-12 leftpadding rightpadding">
                                        <b>Qty</b> : {{AuthDetail.Quantity | number :'1.3-3'}}
                                      </div>
                                      <div class="col-sm-4 col-xs-12 leftpadding rightpadding">
                                        <b>Rate</b> : {{AuthDetail.Rate | number :'1.2-2'}}
                                      </div>

                                      <div class="col-sm-4 col-xs-12">
                                        <b>Basic</b> : {{AuthDetail["Basic Amount"] | number :'1.2-2'}}
                                      </div>
                                    </div>
                                   <!-- </div>  -->
                                </div>
                                <div class="col-sm-6 col-xs-12">
                                   <div class="container-fluid">
                                    <div class="col-sm-3 col-xs-12">
                                      <div class="container-fluid" *ngIf='AuthDetail["Disc Amount"]>0'>
                                         <div class="row leftpadding rightpadding">
                                            <div class="col-sm-12 col-xs-12 leftpadding rightpadding">
                                               <b>Disc.</b> : {{AuthDetail["Disc %"] | number :'1.2-2'}} %
                                            </div>
                                         </div>
                                         <div class="row leftpadding rightpadding">
                                            <div class="col-sm-12 col-xs-12 leftpadding rightpadding">
                                               {{AuthDetail["Disc Amount"] | number :'1.2-2'}}
                                            </div>
                                         </div>
                                       </div>
                                    </div>

                                    <div class="col-sm-2 col-xs-12">
                                       <div class="container-fluid" *ngIf='AuthDetail["IGST Amount"]>0'>
                                          <div class="row leftpadding rightpadding">
                                             <div class="col-sm-12 col-xs-12 leftpadding rightpadding">
                                                <b>IGST</b> : {{AuthDetail["IGST %"] | number :'1.2-2'}} %
                                             </div>
                                          </div>
                                          <div class="row leftpadding rightpadding">
                                             <div class="col-sm-12 col-xs-12 leftpadding rightpadding">
                                                {{AuthDetail["IGST Amount"] | number :'1.2-2'}}
                                             </div>
                                          </div>
                                       </div>
                                    </div>

                                    <div class="col-sm-2 col-xs-12">
                                       <div class="container-fluid" *ngIf='AuthDetail["CGST Amount"]>0'>
                                          <div class="row leftpadding rightpadding">
                                             <div class="col-sm-12 col-xs-12 leftpadding rightpadding">
                                                <b>CGST</b> : {{AuthDetail["CGST %"] | number :'1.2-2'}} %
                                             </div>
                                          </div>
                                          <div class="row leftpadding rightpadding">
                                             <div class="col-sm-12 col-xs-12 leftpadding rightpadding">
                                                {{AuthDetail["CGST Amount"] | number :'1.2-2'}}
                                             </div>
                                          </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-2 col-xs-12">
                                       <div class="container-fluid" *ngIf='AuthDetail["SGST Amount"]>0'>
                                          <div class="row leftpadding rightpadding">
                                             <div class="col-sm-12 col-xs-12 leftpadding rightpadding">
                                                <b>SGST</b> : {{AuthDetail["SGST %"] | number :'1.2-2'}} %
                                             </div>
                                          </div>
                                          <div class="row leftpadding rightpadding">
                                             <div class="col-sm-12 col-xs-12 leftpadding rightpadding">
                                                {{AuthDetail["SGST Amount"] | number :'1.2-2'}}
                                             </div>
                                          </div>
                                       </div>
                                    </div>

                                    <div class="col-sm-3 col-xs-12">
                                      <div class="container-fluid" *ngIf='AuthDetail["OtherCharges"]'>
                                         <div class="row leftpadding rightpadding">
                                            <div class="col-sm-12 col-xs-12 leftpadding rightpadding">
                                               <b>Other Charges</b>
                                            </div>
                                         </div>
                                         <div class="row leftpadding rightpadding">
                                            <div class="col-sm-12 col-xs-12 leftpadding rightpadding">
                                               {{AuthDetail["OtherCharges"] | number :'1.2-2'}}
                                            </div>
                                         </div>
                                      </div>
                                   </div>



                                  </div>
                                </div>

                             </div>


                        </div>





                        </div>
                      </div>

                    </div>
                  </div>
                  <div class="col-sm-2 col-xs-12 pull-right" style="padding-left: 10px">
                       <span class="text-right">
                            <b>Net Amt</b> :  {{AuthDetail["Net Amount"] | number :'1.2-2'}}
                       </span>
                  </div>

                </div>

                <div class="row">
                  <div class="col-sm-12 col-xs-12">
                     <div class="highlight2"  style="margin-top:5px;" id="authDetail" (click)="OpenAC = (OpenAC)?false:true;" *ngIf="AuthorizationDetail.Table7.length !== 0">Additional Cost
                       <span class="pull-right material-icons" *ngIf="OpenAC"> expand_less </span>
                       <span class="pull-right material-icons" *ngIf="!OpenAC"> expand_more </span>
                       <span class="pull-right" style="color:#5f5f5f;background-color: white;margin-right: 20px; padding: 0px 5px;"><strong>Total Amount</strong> : {{AuthorizationDetail.Table[0]["AdditionalTotalBasic"] |number :'1.2-2'}}</span>
                      </div>
                  </div>
               </div>


               <div class="row"  [ngClass]="{'expand':OpenAC,'collapse':!OpenAC }" *ngFor = "let AuthDetail of AuthorizationDetail.Table7"
                 style="padding-left:8px; border-bottom:1px solid #efefef;">
                   <div class="col-sm-12 col-xs-12">
                      <div class="container-fluid">
                          <div class="row" >
                            <div class = "col-sm-4 col-xs-6">
                                <div class="container-fluid">
                                  <div class="row">
                                    <div class = "col-sm-12 col-xs-12">
                                      <b>{{AuthDetail.ItemDesc}}</b>
                                    </div>
                                  </div>
                                </div>
                            </div>
                            <div class="col-sm-8 col-xs-6">
                                <div class="container-fluid">
                                   <div class="row">
                                    <div class="col-sm-3 col-xs-12">
                                      <div><b>Unit</b></div>
                                      <div>{{AuthDetail.Unit}}</div>
                                    </div>
                                    <div class="col-sm-3 col-xs-12">
                                       <div><b>Quantity</b></div>
                                       <div>{{AuthDetail.Quantity | number :'1.3-3'}}</div>
                                    </div>
                                    <div class="col-sm-3 col-xs-12">
                                      <div><b>Rate</b></div>
                                      <div>{{AuthDetail.Rate | number :'1.2-2'}}</div>
                                    </div>
                                    <div class="col-sm-3 col-xs-12">
                                      <div><b>Basic Amount</b></div>
                                      <div>{{AuthDetail.BasicAmt | number :'1.2-2'}}</div>
                                    </div>

                                  </div>
                                </div>
                            </div>
                          </div>
                      </div>
                   </div>
                </div>
                <div class="row" [ngClass]="{'expand':OpenAC,'collapse':!OpenAC }"
                     style="padding-left:8px;">
                  <div class="col-sm-12 col-xs-12">
                      <div class="container-fluid">
                          <div class="row" >
                            <div class = "col-md-12 col-xs-12">
                              <span class="pull-right" *ngIf="AuthorizationDetail.Table[0].ToleranceValue">
                                <strong>Tolerance Value(in %)</strong>: {{AuthorizationDetail.Table[0].ToleranceValue | number :'1.2-2'}},
                                <strong> Total Tolerance Allowed</strong>: {{AuthorizationDetail.Table[0].ToleranceValue | number :'1.2-2'}}
                              </span>
                            </div>

                          </div>
                      </div>
                   </div>
                </div>


          <!--Inject Table here-->
          <div class="row">
            <div class="col-sm-12 col-xs-12">
               <div class="highlight2"  style="margin-top:5px;"  (click)="OpenAS = (OpenAS)?false:true;">Amount Summary
                 <span class="pull-right material-icons" *ngIf="OpenAS"> expand_less </span>
                 <span class="pull-right material-icons" *ngIf="!OpenAS"> expand_more </span>
                </div>
            </div>
         </div>

          <div class="row" [ngClass]="{'expand':OpenAS,'collapse':!OpenAS }"
               style="padding-left:8px;">
              <div class="col-sm-6 col-xs-12">
                  <div class="container-fluid">
                      <div class="row" >
                          <div class = "col-md-6 col-xs-6">
                               <strong>Total Service Amount</strong>
                           </div>
                           <div class = "col-md-6 col-xs-6">
                            : {{AuthorizationDetail.Table[0].ServiceTotalBasic | number :'1.2-2'}}
                           </div>
                       </div>
                       <div class="row">
                           <div class= "col-md-6 col-xs-6">
                                <strong>Total Additional Amount</strong>
                           </div>
                           <div class = "col-md-6 col-xs-6">
                            : {{AuthorizationDetail.Table[0].AdditionalTotalBasic | number :'1.2-2'}}
                           </div>
                       </div>
                       <div class="row">
                        <div class= "col-md-6 col-xs-6">
                             <strong>Total Amount</strong>
                        </div>
                        <div class = "col-md-6 col-xs-6">
                         : {{AuthorizationDetail.Table[0].TotalServiceNetAmount | number :'1.2-2'}}
                        </div>
                    </div>
                   </div>
                </div>
           </div>
          <!--Injection Ends here-->




              <div class="row">
                  <div class="col-sm-12 col-xs-12">
                     <div class="highlight2" style="margin-top:5px;" (click)="OpenPH = (OpenPH)?false:true;">Service Request ({{AuthorizationDetail.Table3.length}})
                      <span class="pull-right material-icons" *ngIf="OpenPH"> expand_less </span>
                      <span class="pull-right material-icons" *ngIf="!OpenPH"> expand_more </span>

                     </div>
                  </div>
              </div>
              <div  [ngClass]="{'expand':OpenPH,'collapse':!OpenPH }" style="overflow-x:hidden;padding-left:10px;">
                 <div class="row"  *ngFor = "let AuthDetail of AuthorizationDetail.Table3;let i = index;"
                 style="padding-left:8px;border-bottom:1px solid #efefef;">
                    <div class="col-sm-6 col-xs-6">
                       <div class="container-fluid">
                          <div class="row">
                             <div class="col-sm-3 col-xs-12">
                              <b>SC Req No.</b> : {{AuthDetail["SC Req No."]}}
                             </div>
                             <div class="col-sm-3 col-xs-12">
                                &nbsp;&nbsp;  <b>SC Req Date</b> : {{AuthDetail["SC Req Date"]}}
                             </div>
                             <div class="col-sm-6 col-xs-12">
                                &nbsp;  <b>Activity</b> : {{AuthDetail["Activity"]}}
                             </div>
                          </div>
                       </div>
                    </div>

                    <div class="col-sm-6 col-xs-6">
                       <div class="row">
                          <div class="col-sm-4 col-xs-12">
                             <b>Item Desc.</b> : {{AuthDetail["ItemDescription"]}}
                          </div>
                          <div class="col-sm-2 col-xs-12">
                            <b>Unit</b> : {{AuthDetail["Unit"]}}
                         </div>
                          <div class="col-sm-2 col-xs-12">
                             <b>Qty</b> : {{AuthDetail["Quantity"] | number :'1.2-2'}}
                          </div>
                          <div class="col-sm-2 col-xs-12">
                             <b>Rate</b> : {{AuthDetail["Rate"] | number :'1.2-2'}}
                          </div>
                          <div class="col-sm-2 col-xs-12">
                             <b>Schedule Date</b> : {{AuthDetail["ScheduleDate"]}}
                          </div>
                       </div>
                    </div>
                 </div>
              </div>



              <div class="row">
                <div class="col-sm-12 col-xs-12">
                   <div class="highlight2" style="margin-top:5px;" (click)="OpenSRR = (OpenSRR)?false:true;" *ngIf="AuthorizationDetail.Table8.length !==0">Service Request Remarks
                    <span class="pull-right material-icons" *ngIf="OpenSRR"> expand_less </span>
                    <span class="pull-right material-icons" *ngIf="!OpenSRR"> expand_more </span>

                   </div>
                </div>
            </div>
            <div  [ngClass]="{'expand':OpenSRR,'collapse':!OpenSRR }" style="overflow-x:hidden;padding-left:10px;">
               <div class="row"  *ngFor = "let AuthDetail of AuthorizationDetail.Table8;let i = index;"
               style="padding-left:8px;border-bottom:1px solid #efefef;">

                  <div class="col-sm-2 col-xs-2">
                     <div class="container-fluid">
                        <div class="row">
                           <div class="col-sm-12 col-xs-12">
                            <b>SC Req No.</b> : {{AuthDetail["SC Req No."]}}
                           </div>
                        </div>
                     </div>
                  </div>

                  <div class="col-sm-10 col-xs-10">
                     <div class="row">
                        <div class="col-sm-12 col-xs-12">
                           <b>Service Desc.</b> : {{AuthDetail["Service Description"]}}
                        </div>
                        <div class="col-sm-12 col-xs-12">
                           <b>Remarks</b> : {{AuthDetail["Remarks"]}}
                        </div>
                     </div>
                  </div>

               </div>
            </div>


             <div class="row">
                 <div class="col-sm-12 col-xs-12">
                    <div class="highlight2" style="margin-top:5px;" (click)="OpenTNC = (OpenTNC)?false:true;" *ngIf="AuthorizationDetail.Table4.length !== 0">Terms & Condition
                      <span class="pull-right material-icons" *ngIf="OpenTNC"> expand_less </span>
                      <span class="pull-right material-icons" *ngIf="!OpenTNC"> expand_more </span>
                    </div>
                 </div>
             </div>
             <div class="row"  [ngClass]="{'expand':OpenTNC,'collapse':!OpenTNC }" *ngFor = "let AuthDetail of AuthorizationDetail.Table4"
             style="padding-left:8px;border-bottom:1px solid #efefef;">
               <div class="col-sm-12 col-xs-12">
                  <div class="container-fluid">
                      <div class="row" >
                        <div class = "col-md-2 col-xs-5">
                          <b>{{AuthDetail.TermsNConditionHeadName}}</b>
                        </div>
                        <div class = "col-md-10 col-xs-7">
                          : {{AuthDetail.TermsNCondition}}
                        </div>
                      </div>
                  </div>
               </div>
            </div>

            <div class="row">
               <div class="col-sm-12 col-xs-12">
                  <div class="highlight2" style="margin-top:5px;" (click)="OpenPT = (OpenPT)? false:true;">Payment Terms
                    <span class="pull-right material-icons" *ngIf="OpenPT"> expand_less </span>
                    <span class="pull-right material-icons" *ngIf="!OpenPT"> expand_more </span>
                  </div>
               </div>
            </div>
            <div class="row"  [ngClass]="{'expand':OpenPT,'collapse':!OpenPT }" *ngFor = "let AuthDetail of AuthorizationDetail.Table5"
             style="padding-left:8px; border-bottom:1px solid #efefef;">
               <div class="col-sm-12 col-xs-12">
                  <div class="container-fluid">
                      <div class="row" >
                        <div class = "col-md-12 col-xs-12">
                          <strong>{{AuthDetail.PaymentType}}</strong> {{AuthDetail.PayValue | number :'1.2-2'}}% within {{AuthDetail.NoOfDays}} days. Base Date Type : <b>{{AuthDetail.BaseDate}}</b>, Pay On : <b>{{AuthDetail.PayOn}}</b>
                        </div>

                      </div>
                  </div>
               </div>
            </div>

            <div class="row">
               <div class="col-sm-12 col-xs-12">
                  <div class="highlight2"  style="margin-top:5px;" id="authDetail" (click)="OpenAD = (OpenAD)?false:true;">Authorization Detail
                    <span class="pull-right material-icons" *ngIf="OpenAD"> expand_less </span>
                    <span class="pull-right material-icons" *ngIf="!OpenAD"> expand_more </span>
                  </div>
               </div>
            </div>

            <div class="row"  [ngClass]="{'expand':OpenAD,'collapse':!OpenAD }" *ngFor = "let AuthDetail of AuthorizationDetail.Table6"
             style="padding-left:8px; border-bottom:1px solid #efefef;">
               <div class="col-sm-12 col-xs-12">
                  <div class="container-fluid">
                      <div class="row" >
                        <div class = "col-sm-4 col-xs-6">
                            <div class="container-fluid">
                              <div class="row">
                                <div class = "col-sm-12 col-xs-12">
                                  <b>{{AuthDetail.Level}}</b>
                                </div>
                              </div>
                              <div class="row">
                                <div class= "col-sm-12 col-xs-12">
                                  {{AuthDetail.UserName}}
                                </div>
                              </div>
                            </div>
                        </div>
                        <div class="col-sm-8 col-xs-6">
                            <div class="container-fluid">
                              <div class="row">
                                <div class="col-sm-3 col-xs-12">
                                  <div><b>Status</b></div>
                                  <div>{{AuthDetail.StatusName}}</div>
                                </div>
                                <div class="col-sm-3 col-xs-12">
                                   <div><b>Last Status</b></div>
                                   <div>{{AuthDetail.LastStatus}}</div>
                                </div>
                                <div class="col-sm-3 col-xs-12">
                                  <div><b>Comment</b></div>
                                  <div>{{AuthDetail.Comment}}</div>
                                </div>
                                <div class="col-sm-3 col-xs-12">
                                  <div><b>Last Comment</b></div>
                                  <div>{{AuthDetail.LastComment}}</div>
                                </div>

                              </div>
                            </div>
                        </div>
                      </div>
                  </div>
               </div>
            </div>






         </div>
       </div>
      </div>
 </div>

 <div class="bottomBar" *ngIf="AuthorizationDetail.Table">
  <div *ngIf="!IsRejection">
       <button class="pull-right btn btn-sm btn-danger" (click)="StatusNo=9;Comment=null;updateStatus()" [disabled]="!AuthorizationDetail.Table[0].AuthDetailNo">Reject</button>
       <button class="pull-right btn btn-sm btn-success" (click)="StatusNo=13;updateStatus()"  [disabled]="!AuthorizationDetail.Table[0].AuthDetailNo ">Approve</button>
  </div>
  <button class="pull-left btn btn-sm btn-primary authorizationButton"  (click)="scrollToAuthorization('authDetail')" >Authorization Detail</button>



 </div>

 <div class="modals" *ngIf="ShowRejectionPopUp">

   <div class="inputArea">
      <b >Rejection Reason</b>
      <div style="margin: 10px 0px;">
        <textarea maxlength="1000" [(ngModel)]="Comment" style="height:100px;width: 100% !important;padding: 4px;font-size: 12px;">

        </textarea>
      </div>
      <div>
          <button class="btn btn-sm pull-right btn-danger" (click)="StatusNo=9;updateStatus()">Reject</button>
          <button class="btn btn-sm pull-right btn-default" (click)="ShowRejectionPopUp=false">Cancel</button>
      </div>
   </div>

 </div>
